CC = $(SRCROOT)/../../toolchain/my-clang
CXX = $(SRCROOT)/../../toolchain/my-clang++
OTHER_CFLAGS[config=Debug] = $(inherited) -O0 -Xclang -disable-O0-optnone -fno-modules
OTHER_CPLUSPLUSFLAGS[config=Debug] = $(inherited) -O0 -Xclang -disable-O0-optnone -fno-modules
OTHER_CFLAGS[config=Release] = $(inherited) -O1 -fno-modules
OTHER_CPLUSPLUSFLAGS[config=Release] = $(inherited) -O1 -fno-modules
